@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  background-color: #f0f7ef;
  height: 100vh;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 100px;
}

.background {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.dragon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.decoration {
  position: absolute;
  bottom: 0;
  left: 0;
}

.connect {
  width: 230px;
  height: 50px;
  background: #9fd187;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.connect:active {
  position: relative;
  top: 1px;
}

.app {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 900px;
  height: 450px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  z-index: 2;
}

.infosContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.infos {
  height: 280px;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

span {
  padding-top: 10px;
  color: rgba(159, 209, 135, 1);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.infosButton {
  background-color: #9fd187;
  margin-top: 20px;
  color: white;
  height: 45px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.infosButton:active {
  position: relative;
  top: 1px;
}

.mintContainer {
  width: 100%;
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.left > img {
  cursor: pointer;
}

.left:active {
  position: relative;
  top: 1px;
}

.right > img {
  cursor: pointer;
}

.right:active {
  position: relative;
  top: 1px;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.count {
  width: 70px;
  height: 35px;
  border-radius: 10px;
  background-color: #9fd187;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  color: white;
}

.nft {
  max-width: 230px;
  width: 100%;
  height: 280px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.nft > img {
  width: 60%;
}

.mintButton {
  max-width: 230px;
  width: 100%;
  background-color: #9fd187;
  margin-top: 20px;
  color: white;
  height: 45px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mintButton:active {
  position: relative;
  top: 1px;
}
